.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__home {
    height: 1000px;
    overflow: hidden;
    background: url("../../img/main_back.jpg") 0 0 / cover no-repeat;

    &__container {
      margin: 0 auto;
      max-width: 1290px;
      padding-top: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 80px;
        color: white;
        text-align: center;
        text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 136px;
      }
    }
  }
  &__courses {
    height: 960px;
    display: flex;
    flex-direction: column;
    &__container {
      flex: 1 1 auto;
      min-width: 1260px;
      margin: 0 auto;
      padding-top: 80px;
      min-height: 960px;
    }
  }
}

.transition {
  padding-top: 120px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: white;
    font-size: 32px;
    margin-bottom: 23px;
  }
  &__arr {
    background: url("../../img/Vector.svg") center no-repeat;
    width: 43px;
    height: 20px;
  }
}

.courses {
  &__title {
    font-weight: 600;
    margin-bottom: 50px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    justify-content: start;
    width: 610px;
    Link:first-child {
      padding-top: 0;
    }
    div {
      padding: 8px 0;
      text-decoration: none;
    }
  }
  &__item{
    display: block;
    text-decoration: none;
    color: #252525;
    padding: 8px 0;
    &:hover{
      color: crimson;
    }
  }

}
